// settings
@import url('https://fonts.googleapis.com/css2?family=Franklin+Gothic:ital,wght@0,100..1000;1,100..1000&family=Sarabun:wght@100;300;400;500;700;800&display=swap');


$font-main: "Franklin Gothic", "Sarabun", sans-serif; //change
$font-main2: "Franklin Gothic", "Sarabun", sans-serif;
$font-main3: "Franklin Gothic", "Sarabun", sans-serif;
$fontIcon: "icomoon";

:root {
    --primary: #43BAFF;
    --main-dark: #19272B;
    --stroke-2: #FFFFFF26;
    --surface: #E1F2F2;
    --white: #FFFFFF;
    --dark-2: #142125;
    --main-blue-1: #086AD8;

}